---
// Reference: https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default

import Layout from '../../layouts/Layout.astro';
import { render } from 'astro:content';
import { getCollection } from 'astro:content';
import ExerciseNav from '../../components/global/ExerciseNav.astro';
import { getPreviousExercise, getNextExercise } from '../../helpers/ExerciseHelper';


export async function getStaticPaths() {
  const exercises = await getCollection('workshopExercise');
  return exercises.map((exercise) => ({
    params: { slug: exercise.id },
    props: { exercise, allExercises: exercises },
  }));
}

const { exercise, allExercises } = Astro.props;
const { Content } = await render(exercise);

var currentPage = exercise.data.sortOrder;

const previousExercise = getPreviousExercise(allExercises, currentPage);
const nextExercise = getNextExercise(allExercises, currentPage);

---

<Layout>
  <section class="mx-auto py-[40px] lg:py-[70px] px-8">
    <ExerciseNav previousExercise={previousExercise} nextExercise={nextExercise} />
    <div class="mx-auto prose lg:prose-xl">
      <h1 class="mb-2 text-xl font-semibold">{exercise.data.title}</h1>

      {exercise.data.branchInfo ? (
        <p class="text-sm text-gray-500">
          🌿 <a href={exercise.data.branchInfo.url} target="_blank">{exercise.data.branchInfo.name}</a>
        </p>
      ) : null}

      <Content />
    </div>
    <ExerciseNav previousExercise={previousExercise} nextExercise={nextExercise} />
  </section>
</Layout>
